body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

/* sections */

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: white;
  color: black;
}

/* headings */
#testimonial-heading {
  font-size: 3rem;
}

.big-heading {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.middle-heading {
  font-size: 1.5rem;
}

#cta-title {
  font-size: 3rem;
  width: 45%;
  margin: 0 auto 0;
}

/* containers */
.container-fluid {
  padding: 3% 15%;
}

/* navbar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 50%;
  position: relative;
  right: 21%;
  padding-top: 0;
}

.nav-link {
  color: #d1d9d9;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.navbar {
  padding: 0 0 4.5rem;
  margin-top: 0;
}

/* middle block */
.middle {
  padding: 10% 20% 10%;
  background-color: white;
  position: relative;
}

.middle-inside {
  color: #8f8f8f;
}

/* middle section icons */
.image-icon {
  margin: 0 auto 10%;
  font-size: 4rem;
  color: #ef8172;
}

.image-icon:hover {
  color: #ff4c68;
}

/* Download buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  transform: rotate(23deg);
  position: absolute;
  width: 20%;
  right: 20%;
  top: 25%
}

/* testimonial section */
.testimonial-img {
  width: 20%;
  border-radius: 100%;
  margin: 7% 5% 0 0;
}

.logo {
  width: 15%;
  margin: 30px 20px 50px;
}

.dog-name {
  font-family: 'Ubuntu', sans-serif;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
.plan-details {
  color: #687980;
}

/* footer */
.footer-icon {
  height: 30%;
  margin-right: 1%;
}

/* ids */
#title {
  padding-bottom: 5%;
  text-align: left;
}

#testimonials {
  height: 550px;
  background-color: #ef8172;
  color: white;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 7% 15%;
}

#plan-heading {
  font-size: 2.5rem;
  margin-bottom: 30%;
}

#cta {
  font-family: 'Montserrat', sans-serif;
  padding-top: 5%;
}

#footer {
  padding: 7% 0 5%;
  background-color: #fff;
}

#footer-copyright {
  color: #a7bbc7;
  margin-top: 1.5%;
}

@media (max-width: 1050px) {
  .title-image {
    transform: rotate(0deg);
    position: static;
    width: 40%;
  }

  #title {
    text-align: center;
  }
}
